.#{$b} {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 'header'
    'search'
    'main'
    'footer'
    'sidebar';

  @include respond-to($tablet) {
    grid-template-columns: minmax(296px, 30vh) minmax(0, 1fr);
    grid-template-areas: 'header search'
      'sidebar main'
      'footer footer';
  }
}
