.#{$b} {
  display: grid;
  grid-template-areas: 'header'
    'search'
    'main'
    'footer'
    'sidebar';
  max-width: 1300px;

  @include respond-to($tablet) {
    grid-template-areas: 'header search'
      'sidebar main'
      'footer footer';
  }
}
