$logoHeight: 40px;
$headerHeight: 60px;

$offsetVrt: 16px;
$offsetHrz: 32px;

$asideWidth: 30vw;
$asideMaxWidth: 344px;
$logoWidth: $asideWidth;
$logoMaxWidth: $asideMaxWidth;

$asideTransitionDuration: .5s;
