.#{$b}_open {
  $rotateDeg: 45deg;

  .#{$b}__bar {
    background: transparent;

    &::before,
    &::after {
      top: 0;
      transition: top .2s, transform .2s .2s;
    }

    &::before {
      transform: rotate($rotateDeg);
    }

    &::after {
      transform: rotate(-$rotateDeg);
    }
  }
}
