/* stylelint-disable selector-max-type */
html, body {
  min-height: 100%;
}

.body {
  margin: 0;
  font-family: 'PT Serif', 'Times New Roman', Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: #f8f8fa;
  color: #3a3a3a;

  @include respond-to($tablet) {
    font-size: 18px;
  }
}
