@import '../page.vars';

.#{$b}__header {
  display: flex;
  align-items: center;
  grid-area: header;
  box-sizing: border-box;
  padding: $offsetVrt/2 $offsetHrz/2;

  @include respond-to($tablet) {
    padding: $offsetVrt $offsetHrz;
  }
}
