.#{$b}_type_primary {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }

  &.#{$b}_active {
    color: $blue;
  }
}
