@import '../page.vars';

.#{$b}__search {
  display: none;
  grid-area: search;
  position: sticky;
  z-index: $searchZIndex;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 4px 0 $greyLight;
  background-color: $greyLight;
  transition: .5s top;

  @include respond-to($tablet) {
    display: block;
    flex: 1;
    position: sticky;
    top: 0;
    width: auto;
    padding: 0 $offsetHrz $offsetVrt / 2;
  }
}
