@import '../page.vars';

.#{$b}__search {
  grid-area: search;
  position: fixed;
  z-index: $searchZIndex;
  top: 0;
  left: 0;
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 4px 0 $greyLight;
  background-color: $greyLight;
  transition: top $searchTransitionDuration 0s, visibility 0s $searchTransitionDuration;

  @include respond-to($tablet) {
    flex: 1;
    position: sticky;
    top: 0;
    visibility: visible;
    width: auto;
    padding: 0 $offsetHrz $offsetVrt * .5;
  }
}
