/* stylelint-disable property-no-vendor-prefix */

@import '../input.vars';

.#{$b}__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: $offset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  border-radius: 0;
  background: none;
  color: inherit;

  @include placeholder {
    opacity: 1;
    font-size: inherit;
    color: $greyDark;
  }

  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    width: 0;
    height: 0;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 ($lineHeight + $offset * 2) $greyLight;
    transition: background-color .1s ease-in-out 0s;
  }

  &[type='text'],
  &[type='email'],
  &[type='tel'],
  &[type='search'],
  &[type='password'] {
    -webkit-appearance: none;
  }

  &[type='search']::-webkit-search-decoration,
  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-results-button,
  &[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  &[disabled] {
    cursor: default;
  }

  &[type='reset']::-moz-focus-inner,
  &[type='button']::-moz-focus-inner,
  &[type='submit']::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
