@import '../page.vars';

.#{$b}__main {
  grid-area: main;
  box-sizing: border-box;
  max-width: 1000px;
  min-height: 100vh;
  padding: 0 $offsetHrz / 2;

  @include respond-to($tablet) {
    padding: 0 $offsetHrz;
  }
}
