/*
'mw-parser-output' is a wiki's class for content, there is a possibility
to change this class in request https://www.mediawiki.org/wiki/API:Parsing_wikitext
by parameter 'wrapoutputclass' but with this parameter the request became much slower
*/

/* unfortunately, Wikipedia uses important in styles */
/* stylelint-disable declaration-no-important */
.#{$b} .mw-parser-output {
  text-align: justify;

  a {
    text-decoration: underline !important;
    color: #3a3a3a;

    &:hover {
      color: #0846ad;
    }

    &:link,
    &[class] {
      text-decoration: underline !important;
      color: #3a3a3a;

      &:hover {
        color: #0846ad;
      }
    }
  }

  .infobox {
    margin: 0;
    float: none;
    width: auto;
    font-size: 80%;
    box-shadow: inset 0 0 2px 0 $grey;
    border: none;
    padding: 0.8em;

    @include respond-to($desktop) {
      float: right;
      width: 22em;
      margin: .8em 0 .8em 1.6em;
      padding: .6em;
    }

    th {
      padding-right: .8em;
    }

    td {
      padding-bottom: .8em;
    }
  }

  h1, h2 {
    padding-bottom: 8px;
  }

  pre,
  .mw-code {
    padding: 1em;
    white-space: pre-wrap;
  }

  div.hatnote {
    padding: 0;
  }
}
