@import '../page.vars';

.#{$b}__aside {
  grid-area: sidebar;
  position: fixed;
  z-index: 1;
  top: $headerHeight;
  left: -100%;
  visibility: hidden;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  padding: $offsetHrz * .5;
  background: $greyLight;
  transition: left $asideTransitionDuration 0s, visibility 0s $asideTransitionDuration;

  @include respond-to($tablet) {
    position: sticky;
    top: 0;
    visibility: visible;
    height: auto;
    max-height: 100vh;
    padding: $offsetHrz * .5;
  }
}
