@import '../page.vars';

.#{$b}__aside {
  grid-area: sidebar;
  box-sizing: border-box;
  padding: 0 $offsetHrz/2;

  @include respond-to($tablet) {
    position: sticky;
    top: 0;
    width: 30vw;
    min-width: 296px;
    max-width: 344px;
  }

  @include respond-to($desktop) {
    padding: 0 $offsetHrz;
  }
}
